body{
    background:#1C1F25;
    margin:0;
}

.menu-bar{
    height:35px;
    padding:15px;
    margin:0 0 15px 0;
}

.menu-link{
    margin: 0 2px;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: rgba(255,255,255, 0.1);
    height: 5px;
    display: inline-table;
}

.stock-changes-container{
    height:35vh;
    overflow-y:scroll;
    font-size: 12px;
}

.stock-right-side{
    display: inline-block;
    float: right;
}

.stock-container{
    display:inline-block;
    margin: 3px 0 0 0;
}

.change-container:hover{
    background-color: rgba(255, 255, 255, 0.2);

}

.change-container{
    color:white;
    clear: both;
    padding: 15px;
    margin: 3px;
}

.price{
    display:inline-block;
    margin:0 15px;
}

.difference.positive{
    background-color: #4CDA64;
    border: 1px solid #4CDA64;
}

.difference.negative{
    background-color: #FF3B2F;
    border: 1px solid #FF3B2F;
}

.difference{
    padding: 2px;
    display: inline-block;
    border-radius: 4px;
}

.loading{
    margin-left:50%;
    height:400px;
    margin-top:100px;
}

.loading-news{
    margin-left:100px;
    height:400px;
    margin-top:100px;
}

.loader{
    border: 3px solid rgba(255, 255, 255 , 0.5);
    border-top: 3px solid rgba(253, 253, 0, 0.8);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile-container{
    margin:2px;
    text-align: center;
    height:75px;
}

.btn{
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size:12px;
}

.btn.active{
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition:all .3s;
}

.article-container{
    padding:15px;
    /*border: 1px solid rgba(255, 255, 255 ,0.2);*/
    margin: 3px;
    cursor: pointer;
    transition:all .3s;
}

.news-container a{
    color:inherit;
    text-decoration:none;
}

.article-container:hover{
    background-color: rgba(255, 255, 255, 0.2);

}

.chart-line-container{
    margin: 40px 0 0 0;
}

.faded-line{
    display:block;
    border:none;
    color:white;
    height:1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 147%, 350, from(rgba(255,255,255, 0.2)), to(rgba(28, 31, 37, 0.1)))
}

.faded-line-long{
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 147%, 825, from(rgba(255,255,255, 0.2)), to(rgba(28, 31, 37, 0.1)));
}

.faded-line-darker{
    display:block;
    border:none;
    color:white;
    height:1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 147%, 350, from(rgba(255,255,255, 0.2)), to(rgba(28, 31, 37, 1)))
}

.faded-line-control{
    display: inline-block;
    width: 70%;
    margin-left: 5%;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, from(rgba(255,255,255, 0.2)), to(rgba(28, 31, 37, 1)))
}

#chart-container{
    clear:both;
    height:440px;
}

.profile-card{

}

.profile-name{
    display:inline-block;
    font-size:12px;
}
.controls{
    margin:10px 27px;
    float:right;
    font-size:12px;
}

.news-container{
    overflow-y: scroll;
    height: 65vh;
    font-size:12px;
}

.heading{
    padding:8px 0;
}

.highlight{
    color:yellow;
}

.side-container{
    display:inline-block;
    position:fixed;
    color:white;
    padding:5px 5px 0 5px;
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: linear-gradient(to bottom, rgba(28, 31, 37, 1) 0%, rgba(255,255,255, 0.2) 50%, rgba(28, 31, 37, 1) 100%)
}

.content-parent{
    display:inline-block;
    width:75%;
}

.react-stockcharts-tooltip{
    fill:white;
}

.react-stockcharts-tooltip-label{
    fill:yellow;
}
